<h2>My Activities</h2>
<div class="container">
  <div>
      <label id="new-activity-name">Activity name: </label>
      <input for="new-activity-name" #activityName />
      <label id="new-activity-description">Description: </label>
      <input for='new-activity-description' #activityDescription/>
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="add-button" 
        (click)="add(activityName.value,activityDescription.value); 
        activityName.value=''">
        Add activity
      </button>
    </div>
        <div *ngFor="let activity of activities">
          <div *ngIf="!activity.isDeleted">
            <a routerLink="/detail/{{activity.activityId}}">
              {{activity.name}}
            </a>
            {{activity.description}}
            <button class="delete" title="delete activity"
            (click)="delete(activity)">x</button>
            <app-checkbox [activity]='activity'></app-checkbox>
          </div>
        </div>
  </div>
  